.list-item {
    font-weight: bolder;
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 10px;
}

.example-button-row {
    display: flex;
    max-width:none;
    justify-content: space-evenly;
   
  }

.container{
    padding: 2%;
  }

  .js-learning {
    padding: 2%;
    display: flex;
    justify-content: center;
  }
  